<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fabriciosuarte.taskmanager">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".AddTaskActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".TaskDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".SearchableActivity"
            android:label="@string/search_result_label"
            android:exported="false"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>


        <!-- ATTENTION! SingleTask here is a kind of important!
             It allows the same activity instance to be used when a search result is selected.
             Take a look at the code in SearchableActivity class -->
        <activity android:name=".LocationActivity"
            android:exported="false"
            android:parentActivityName=".AddTaskActivity"
            android:launchMode="singleTask">

            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />

        </activity>

        <service
            android:name=".data.TaskUpdateService"
            android:exported="false" />

        <service
            android:name=".reminders.ReminderAlarmService"
            android:exported="false" />

        <provider
            android:name=".data.TaskProvider"
            android:authorities="com.fabriciosuarte.taskmanager"
            android:exported="false"/>

        <service
            android:name=".data.CleanupJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>

</manifest>