<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fabriciosuarte.taskmanager">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.fabriciosuarte.taskmanager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.fabriciosuarte.taskmanager.SettingsActivity"
            android:exported="false"
            android:parentActivityName="com.fabriciosuarte.taskmanager.MainActivity"/>

        <activity
            android:name="com.fabriciosuarte.taskmanager.AddTaskActivity"
            android:exported="false"
            android:parentActivityName="com.fabriciosuarte.taskmanager.MainActivity"/>

        <activity
            android:name="com.fabriciosuarte.taskmanager.TaskDetailActivity"
            android:exported="false"
            android:parentActivityName="com.fabriciosuarte.taskmanager.MainActivity"/>

        <service
            android:name="com.fabriciosuarte.taskmanager.data.TaskUpdateService"
            android:exported="false" />

        <service
            android:name="com.fabriciosuarte.taskmanager.reminders.ReminderAlarmService"
            android:exported="false" />

        <provider
            android:name="com.fabriciosuarte.taskmanager.data.TaskProvider"
            android:authorities="com.fabriciosuarte.taskmanager"
            android:exported="false"/>

        <service
            android:name="com.fabriciosuarte.taskmanager.data.CleanupJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>

</manifest>